.container{
    width: 42px;
    height: 24px;
    border: 1.5px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    cursor: pointer;

}
.icon{
    font-size:12px;
}
.ball{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(231, 160, 61);
    
}
